:root {
    --primary: #ff9191;
    --primary-light: #ffc4c4;
    --secondary: #8B0202;
    --background: #0C0004;
    --background-light: #3d161e;
    --accent: #8B0202;
}

body {
    background-color: var(--background);
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;

    font-size: 1.2rem;
}

.font {
    font-family: "Amita", serif;
    font-style: normal;
    font-weight: 700;
    /* 400 or 700 */
}

.container {
    background-color: var(--background-light);
}

.text-box {
    background: #c4c4c41e;
    border-radius: 20px;
    margin-top: 20px;
}

.primary {
    color: var(--primary);
}

.primary-light {
    color: var(--primary-light);
    font-weight: 400;
}

.temperature {
    font-size: 2.5rem;
    font-weight: 700;
    color: whitesmoke;
    mix-blend-mode: difference;
    width: fit-content;
    height: fit-content;
}

.temperature-unit {
    font-size: 1rem;    
    font-weight: 400;
    color: whitesmoke;
    mix-blend-mode: difference;
}

.weather-icon {
    font-size: 10rem;
    padding: 5px;
}

.current-weather {
    color: var(--primary-light);
    font-weight: 400;
    font-size: 1.5rem;
    margin-top: -25px;
}

.huntingtime {
    font-size: 1.3rem;
    color: var(--primary);
    margin-top: 10px;
    border-bottom: var(--secondary) 5px solid;
    border-radius: 15px;
}

.vampire {
    font-size: 2.5rem;
}

/* Blood Drop Animation */

.lost {
    letter-spacing: 2px;
    color: white;
    margin: 20px auto;
    width: 100%;
    font-size: 100px;
    font-family: "Permanent Marker";
    animation: bloody 4s ease infinite alternate;
    -webkit-animation: bloody 4s ease infinite alternate;
    -moz-animation: bloody 4s ease infinite alternate;
    -o-animation: bloody 4s ease infinite alternate;
    color: white;
    padding-top: 100px;
    margin-bottom: 0;
    padding-bottom: 0;
    margin: auto;
}

@keyframes bloody {
    0% {
        text-shadow: 0px 1px 3px #c8102e;
        letter-spacing: -0.025em;
    }

    100% {
        text-shadow: 0px 5px 3px #c8102e, 0px 10px 3px #c8102e, 0px 15px 3px #c8102e,
            0px 20px 3px #c8102e, 0px 25px 3px #c8102e, 0px 30px 3px #c8102e,
            0px 35px 3px #c8102e, 0px 40px 3px #c8102e, 0px 45px 3px #c8102e,
    }
}

.note {
    color: #c8102e;
    font-size: 80px;
    margin: 0 auto;
    font-family: "Permanent Marker";
    animation: grow 5s ease infinite alternate;
    -webkit-animation: grow 5s ease infinite alternate;
    -moz-animation: grow 5s ease infinite alternate;
    -o-animation: grow 5s ease infinite alternate;
}

@keyframes grow {
    0% {
        transform: scale(1, 1);
    }

    100% {
        transform: scale(1, 1.25);
    }
}

.bloodcontainer {
    position: relative;
    margin: 25px auto;
    height: 100%;
    width: 100%;
}

.blooddrop {
    position: relative;
    width: 11px;
    height: 11px;
    top: 0px;
    margin: 0;
    background-color: #c8102e;
    border-radius: 50%;
    animation: drip 10s cubic-bezier(1, 0, .91, .19) infinite;
    -webkit-animation: drip 5s cubic-bezier(1, 0, .91, .19) infinite;
    -moz-animation: drip 5s cubic-bezier(1, 0, .91, .19) infinite;
    -o-animation: drip 5s cubic-bezier(1, 0, .91, .19) infinite;
}

.blooddrop:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 23px solid #c8102e;
    top: -20px;
    left: 1px;
}

.blooddrop:nth-of-type(1) {
    position: absolute;
    left: 8%;
    top: 0px;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-fill-mode: backwards;
}

.blooddrop:nth-of-type(2) {
    position: absolute;
    left: 15%;
    top: 0px;
    animation-delay: 3s;
    animation-iteration-count: infinite;
    animation-fill-mode: backwards;
}

.blooddrop:nth-of-type(3) {
    position: absolute;
    left: 22%;
    top: 0px;
    animation-delay: 4s;
    animation-iteration-count: infinite;
    animation-fill-mode: backwards;
}

.blooddrop:nth-of-type(4) {
    position: absolute;
    left: 30%;
    top: 0px;
    animation-delay: 5.5s;
    animation-iteration-count: infinite;
    animation-fill-mode: backwards;
}

.blooddrop:nth-of-type(5) {
    position: absolute;
    left: 42%;
    top: 0px;
    animation-delay: 4.5s;
    animation-iteration-count: infinite;
    animation-fill-mode: backwards;
}

.blooddrop:nth-of-type(6) {
    position: absolute;
    left: 55%;
    top: 0px;
    animation-delay: 3.2s;
    animation-iteration-count: infinite;
    animation-fill-mode: backwards;
}

.blooddrop:nth-of-type(7) {
    position: absolute;
    left: 66%;
    top: 0px;
    animation-delay: 4.8s;
    animation-iteration-count: infinite;
    animation-fill-mode: backwards;
}

.blooddrop:nth-of-type(8) {
    position: absolute;
    left: 70%;
    top: 0px;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-fill-mode: backwards;
}

.blooddrop:nth-of-type(9) {
    position: absolute;
    left: 78%;
    top: 0px;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-fill-mode: backwards;
}

.blooddrop:nth-of-type(10) {
    position: absolute;
    left: 90%;
    top: 65px;
    animation-delay: 2.2s;
    animation-iteration-count: infinite;
    animation-fill-mode: backwards;
}

@keyframes drip {
    0% {
        top: -37px;
    }

    100% {
        top: 700px;
    }
}

.loader {
    --color-one: #ff0000;
    --color-two: #ff0800;
    --color-three: #ff000080;
    --color-four: #ff000080;
    --color-five: #ff000040;
    --time-animation: 3s;
    --size: 2; /* You can change the size */
    text-align: center;
    position: relative;
    border-radius: 50%;
    transform: scale(var(--size));
    box-shadow:
        0 0 25px 0 var(--color-three),
        0 20px 50px 0 var(--color-four);
    animation: colorize calc(var(--time-animation) * 3) ease-in-out infinite;
}

.loader::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border-top: solid 1px var(--color-one);
    border-bottom: solid 1px var(--color-two);
    background: linear-gradient(180deg, var(--color-five), var(--color-four));
    box-shadow:
        inset 0 10px 10px 0 var(--color-three),
        inset 0 -10px 10px 0 var(--color-four);
}

.loader .box {
    width: 100px;
    height: 100px;
    text-align: center;
    background: linear-gradient(180deg,
            var(--color-one) 30%,
            var(--color-two) 70%);
    mask: url(#clipping);
    -webkit-mask: url(#clipping);
}

.loader svg {
    position: absolute;
}

.loader svg #clipping {
    filter: contrast(15);
    animation: roundness calc(var(--time-animation) / 2) linear infinite;
}

.loader svg #clipping polygon {
    filter: blur(10px);
}

.loader svg #clipping polygon:nth-child(1) {
    transform-origin: 75% 25%;
    transform: rotate(90deg);
}

.loader svg #clipping polygon:nth-child(2) {
    transform-origin: 50% 50%;
    animation: rotation var(--time-animation) linear infinite reverse;
}

.loader svg #clipping polygon:nth-child(3) {
    transform-origin: 50% 60%;
    animation: rotation var(--time-animation) linear infinite;
    animation-delay: calc(var(--time-animation) / -3);
}

.loader svg #clipping polygon:nth-child(4) {
    transform-origin: 40% 40%;
    animation: rotation var(--time-animation) linear infinite reverse;
}

.loader svg #clipping polygon:nth-child(5) {
    transform-origin: 40% 40%;
    animation: rotation var(--time-animation) linear infinite reverse;
    animation-delay: calc(var(--time-animation) / -2);
}

.loader svg #clipping polygon:nth-child(6) {
    transform-origin: 60% 40%;
    animation: rotation var(--time-animation) linear infinite;
}

.loader svg #clipping polygon:nth-child(7) {
    transform-origin: 60% 40%;
    animation: rotation var(--time-animation) linear infinite;
    animation-delay: calc(var(--time-animation) / -1.5);
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes roundness {
    0% {
        filter: contrast(15);
    }

    20% {
        filter: contrast(3);
    }

    40% {
        filter: contrast(3);
    }

    60% {
        filter: contrast(15);
    }

    100% {
        filter: contrast(15);
    }
}

@keyframes colorize {
    0% {
        filter: hue-rotate(0deg);
    }

    20% {
        filter: hue-rotate(-10deg);
    }

    40% {
        filter: hue-rotate(-20deg);
    }

    60% {
        filter: hue-rotate(-25deg);
    }

    80% {
        filter: hue-rotate(-10deg);
    }

    100% {
        filter: hue-rotate(0deg);
    }
}