:root {
    --primary: #ad274b;
    --primary-light: #c47481;
    --secondary: #7a1424;
    --background: #232c3a;
    --background-light: #273c4b;
    --accent: #b5c2c7;
}

body {
    background-color: var(--background);
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;

    font-size: 1.2rem;
}

.font {
    font-family: "Amita", serif;
    font-style: normal;
    font-weight: 700; /* 400 or 700 */
}

.container {
    background-color: var(--background-light);
    border-radius: 10px;
}

.text-box {
    background: #b5c2c71e;
    border-radius: 20px;
}

.primary{
    color: var(--primary);
}
.primary-light{
    color: var(--primary-light);
    font-weight: 400;
}

.temperature {
    font-size: 5rem;
    font-weight: 700;
    color: var(--primary);
}

.weather-icon {
    font-size: 10rem;
    padding: 5px; 
}

.cloudyness {
    color: var(--primary-light);
    font-weight: 400;
    font-size: 1.5rem;
    margin-top: -25px;
}

/* Blood Drop Animation */

.lost {
  letter-spacing: 2px;
  color: white;
  margin: 20px auto;
  width: 100%;
  font-size: 100px;
  font-family: "Permanent Marker";
  animation: bloody 4s ease infinite alternate;
  -webkit-animation: bloody 4s ease infinite alternate;
  -moz-animation: bloody 4s ease infinite alternate;
  -o-animation: bloody 4s ease infinite alternate;
  color: white;
  padding-top: 100px;
  margin-bottom: 0;
  padding-bottom: 0;
  margin: auto;
}
@keyframes bloody {
  0% {
    text-shadow: 0px 1px 3px #c8102e;
    letter-spacing: -0.025em;
  }
  100% {
    text-shadow: 0px 5px 3px #c8102e, 0px 10px 3px #c8102e, 0px 15px 3px #c8102e,
      0px 20px 3px #c8102e, 0px 25px 3px #c8102e, 0px 30px 3px #c8102e,
      0px 35px 3px #c8102e, 0px 40px 3px #c8102e, 0px 45px 3px #c8102e,
  }
}
.note {
  color: #c8102e;
  font-size: 80px;
  margin: 0 auto;
  font-family: "Permanent Marker";
  animation: grow 5s ease infinite alternate;
  -webkit-animation: grow 5s ease infinite alternate;
  -moz-animation: grow 5s ease infinite alternate;
  -o-animation: grow 5s ease infinite alternate;
}
@keyframes grow {
  0% {
        transform: scale(1, 1);
  }
  100% {
        transform: scale(1, 1.25);
  }
}
.bloodcontainer {
  position: relative;
  margin: 25px auto;
  height: 100%;
  width: 100%;
}
.blooddrop {
  position: relative;
  width: 11px;
  height: 11px;
  top: 0px;
  margin: 0;
  background-color: #c8102e;
  border-radius: 50%;
  animation: drip 10s cubic-bezier(1,0,.91,.19) infinite ;
    -webkit-animation: drip 5s cubic-bezier(1,0,.91,.19) infinite;
    -moz-animation: drip 5s cubic-bezier(1,0,.91,.19) infinite;
    -o-animation: drip 5s cubic-bezier(1,0,.91,.19) infinite;
}
.blooddrop:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 23px solid #c8102e;
  top: -20px;
  left: 1px;
}
.blooddrop:nth-of-type(1) {
    position: absolute;
    left: 8%;
    top: 0px;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-fill-mode: backwards;
}
.blooddrop:nth-of-type(2) {
    position: absolute;
    left: 15%;
    top: 0px;
    animation-delay: 3s;
    animation-iteration-count: infinite;
    animation-fill-mode: backwards;
}
.blooddrop:nth-of-type(3) {
    position: absolute;
    left: 22%;
    top: 0px;
    animation-delay: 4s;
    animation-iteration-count: infinite;
    animation-fill-mode: backwards;
}
.blooddrop:nth-of-type(4) {
    position: absolute;
    left: 30%;
    top: 0px;
    animation-delay: 5.5s;
    animation-iteration-count: infinite;
    animation-fill-mode: backwards;
}
.blooddrop:nth-of-type(5) {
    position: absolute;
    left: 42%;
    top: 0px;
    animation-delay: 4.5s;
    animation-iteration-count: infinite;
    animation-fill-mode: backwards;
}
.blooddrop:nth-of-type(6) {
    position: absolute;
    left: 55%;
    top: 0px;
    animation-delay: 3.2s;
    animation-iteration-count: infinite;
    animation-fill-mode: backwards;
}
.blooddrop:nth-of-type(7) {
    position: absolute;
    left: 66%;
    top: 0px;
    animation-delay: 4.8s;
    animation-iteration-count: infinite;
    animation-fill-mode: backwards;
}
.blooddrop:nth-of-type(8) {
    position: absolute;
    left: 70%;
    top: 0px;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-fill-mode: backwards;
}
.blooddrop:nth-of-type(9) {
    position: absolute;
    left: 78%;
    top: 0px;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-fill-mode: backwards;
}
.blooddrop:nth-of-type(10) {
    position: absolute;
    left: 90%;
    top: 65px;
    animation-delay: 2.2s;
    animation-iteration-count: infinite;
    animation-fill-mode: backwards;
}
@keyframes drip {
  0% { top: -37px; }
  100% { top: 700px; }
}